In [2]:
import numpy as np
import pandas as pd

print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [13]:
#知道如何使用 DataFrame 中的運算
#了解 DataFrame 運算的特性
#知道 DataFrame 中統計與字串的操作

df1 = pd.DataFrame([[1,3,5]])
df2 = pd.DataFrame([[2,4,6]])

print('+ :\n',df1 + df2)
print('- :\n',df1 - df2)
print('X :\n',df1* df2)
print('/ :\n',df1/ df2)

print(df1+2)

+ :
    0  1   2
0  3  7  11
- :
    0  1  2
0 -1 -1 -1
X :
    0   1   2
0  2  12  30
/ :
      0     1         2
0  0.5  0.75  0.833333
   0  1  2
0  3  5  7

In [12]:
df1 = pd.DataFrame([[1, 2, 3]], columns=['a', 'b', 'c'])
df2 = pd.DataFrame([[1, 1, 1]], columns=['c', 'd', 'e'])
print(df1 + df2)

    a   b  c   d   e
0 NaN NaN  4 NaN NaN

In [33]:
# pd.DataFrame 和 np.Array
import pandas as pd
df = pd.DataFrame([[1, 4, 3]])

print(df + 1)
print(df + pd.DataFrame([1]))
#df+ pd.DataFrame([[1,1,1]])

import numpy as np 
a = np.array([[1, 2, 3]])
print(a+1)
print(a+np.array([1]))

   0  1  2
0  2  5  4
   0   1   2
0  2 NaN NaN
[[2 3 4]]
[[2 3 4]]

In [17]:
# DataFrame 中的排序

df = pd.DataFrame( {
    "col1": ['a', 'A','A','B','b',np.nan],
    "col2": [2, 5, 3, 8, 1, 3]
})

print(df.sort_values(by="col1"))
print(df.sort_values(by=["col1","col2"]))  #Sort by multiple columns
print(df.sort_values(by="col2" ,  ascending=False)) #降冪
print(df.sort_values(by="col1" ,  na_position='first', ascending=False))

  col1  col2
1    A     5
2    A     3
3    B     8
0    a     2
4    b     1
5  NaN     3
  col1  col2
2    A     3
1    A     5
3    B     8
0    a     2
4    b     1
5  NaN     3
  col1  col2
3    B     8
1    A     5
2    A     3
5  NaN     3
0    a     2
4    b     1
  col1  col2
5  NaN     3
4    b     1
0    a     2
3    B     8
1    A     5
2    A     3

In [18]:
#Dataframe 的for loop

df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [20, 32]
})

for c in df:
    print(c)

name
age

In [2]:
# 橫向的資料迭代

import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for i in range(len(df)) : 
    print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [3]:
# iteritems()、iterrows()、itertuples() 
#:第二種方法可以直接用 DataFrame 內建的 iterative 方法：

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

print('iteritems:')        # Iterate over (column name, Series) pairs.
for d1 in df.iteritems() :
    print(d1)
    
print('\n iterrows:')      # Iterate over DataFrame rows as (index, Series) pairs.
for d2 in df.iterrows() :
    print(d2)
    
print('\nitertuples:')     # Iterate over DataFrame rows as namedtuples of the values.
for d3 in df.itertuples() :
    print(d3)

iteritems:
('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)

 iterrows:
(0, name    Alice
age        20
Name: 0, dtype: object)
(1, name    Bob
age      32
Name: 1, dtype: object)

itertuples:
Pandas(Index=0, name='Alice', age=20)
Pandas(Index=1, name='Bob', age=32)

In [32]:
#apply, map ,applymap

import numpy as np
import pandas as pd

df = pd.DataFrame({
  'score': [98, 69, 85],
  'age': [20, 32, 28]
})

print('apply')  #Apply a function along an axis of the DataFrame.
df.apply(np.max)
#score    98
#age      32
#dtype: int64
df.apply(np.min)
#score    69
#age      20
#dtype: int64
print('lambda:\n',df.apply(lambda x : x.max() - x.min()))

#map
print('\nmap')
print(df['age'].map(lambda x: x+5))

#applymap   #Apply a function to a Dataframe elementwise.
print('\napplymap')
print(df.applymap(lambda x: -x))

apply
lambda:
 score    29
age      12
dtype: int64

map
0    25
1    37
2    33
Name: age, dtype: int64

applymap
   score  age
0    -98  -20
1    -69  -32
2    -85  -28

In [36]:
#正確的從 DataFrame 中插入或刪除資料
#正確的對 DataFrame 進行合併與重組
#了解 DataFrame 中合併的方法差異

# 從 DataFrame 中插入或刪除資料
df=pd.DataFrame([[1],[2]], columns=['a'])
print(df)
df['b'] = pd.Series([3,4])
print(df)

   a
0  1
1  2
   a  b
0  1  3
1  2  4

In [44]:
#Append
df=pd.DataFrame([[1,2]], columns =['a','b'])
print(df)
 #增加列
df =df.append(pd.DataFrame([[3,4]], columns =['a','b']))
print(df)
print("But index will be repeated ")
print("--> reset_index")
df = df.reset_index(drop=True) 
# use the drop parameter to avoid the old index being added as a column
#      a  b
# 0 0  1  2
# 1 0  3  4
print(df)

   a  b
0  1  2
   a  b
0  1  2
0  3  4
But index will be repeated
--> reset_index
   a  b
0  1  2
1  3  4

In [57]:
#Delete
df = pd.DataFrame([[1,2,3]], columns = ['a','b','c'])
print(df)
del df['a']
print("del 'a'\n",df)
df=df.pop('c')
print("pop 'c' \n",df)
#pop(item) --> item:Label of column to be popped.

#Drop
print('\n Drop :')
df = pd.DataFrame([[1,2,3],[3,4,5]], columns = ['a','b','c'])
print(df)
df = df.drop(1)#index
print("drop '1'\n",df)
df = df.drop(['b'], axis=1)
df

   a  b  c
0  1  2  3
del 'a'
    b  c
0  2  3
pop 'c'
 0    3
Name: c, dtype: int64

 Drop :
   a  b  c
0  1  2  3
1  3  4  5
drop '1'
    a  b  c
0  1  2  3

   a  c
0  1  3

In [58]:
'''
 DataFrame 跟 DataFrame 之間的操作，常見可以分為以下幾種：

-連集（Concat）
-合併（merge）
-連接（Join）
-分組（Group）
'''

'\n DataFrame 跟 DataFrame 之間的操作，常見可以分為以下幾種：\n\n-連集（Concat）\n-合併（merge）\n-連接（Join）\n-分組（Group）\n'

In [69]:
#Concat

one = pd.DataFrame({
    "id":[1,2],
    "name":["Ann", "Alex"]
})

two = pd.DataFrame({
    "id":[1,2],
    "name":["Bob","Cam"]
})

print(pd.concat([one,two]))
print("Reset_index \n",pd.concat([one, two]).reset_index(drop=True))

#merge
print("\n Merge")
print(pd.merge(one,two, on="id"))

   id  name
0   1   Ann
1   2  Alex
0   1   Bob
1   2   Cam
Reset_index
    id  name
0   1   Ann
1   2  Alex
2   1   Bob
3   2   Cam

 Merge
   id name_x name_y
0   1    Ann    Bob
1   2   Alex    Cam

In [5]:
#join
 #df.join :Join columns of another DataFrame.
one = pd.DataFrame({
    "Name":["Ann","Amy","Sam"]
})

two = pd.DataFrame({
    "Score":[98,89]
})

print(one.join(two))

  Name  Score
0  Ann   98.0
1  Amy   89.0
2  Sam    NaN

In [10]:
df = pd.DataFrame({
  'A' : ['foo', 'bar', 'foo', 'bar'],
  'B' : ['one', 'one', 'two', 'three'],
  'C' : [1,2,3,4],
  'D' : [10, 20, 30, 40]
})
print(df)
print("Groupby")
print(df.groupby('A').sum())
print(df.groupby('B').agg(sum))
#agg 聚合操作: .agg()  :sum, min, max, mean.... 
print(df.groupby(['A','B']).sum())

     A      B  C   D
0  foo    one  1  10
1  bar    one  2  20
2  foo    two  3  30
3  bar  three  4  40
Groupby
     C   D
A
bar  6  60
foo  4  40
       C   D
B
one    3  30
three  4  40
two    3  30
           C   D
A   B
bar one    2  20
    three  4  40
foo one    1  10
    two    3  30

In [3]:
#Pandas 的外部資料存取
# 利用 read_csv 讀入資料
pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/example.csv")

'''
read_execl/ table/json ...
'''

,TOK,UPDATE,DATE,SHOT,TIME,AUXHEAT,PHASE,STATE,PGASA,PGASZ,...,WFICRH,MEFF,ISEQ,WTH,WTOT,DWTOT,PL,PLTH,TAUTOT,TAUTH
0,JET,20031201,20001006,53521,10.0,NBIC,HSELM,TRANS,2.0,1.0,...,731900.0,2.0,NONE,3715000.0,5381000.0,1282000.0,12970000.0,12100000.0,0.4445,0.2194

In [6]:
# 利用 na_values 自訂缺失值

df1 = pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv')
print(df1)

df = pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv',
                 keep_default_na = True,
                 na_values = ["na","--"]
                )
print("\n", df)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

            PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [9]:
# 利用 to_csv 寫出資料

df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
print(df)
df.to_csv(index=False)

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

'name,mask,weapon\r\nRaphael,red,sai\r\nDonatello,purple,bo staff\r\n'

In [10]:
# 利用 compression_opts 設定壓縮格式

df.to_csv('out.zip', compression='zip')