In [8]:
#Pandas 物件的定義與屬性 _0616
import numpy as np
import pandas as pd

print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [3]:
# 從 Series 和 DataFrame 開始

s = pd.Series([1, 2, 3])
print(s)
print(type(s))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
s = pd.Series([1, 2, 3])
print(s.shape)
print(s.size)
print(s.dtype)
#Series 常用的屬性

(3,)
3
int64

In [4]:
df =pd.DataFrame([1, 2, 3])

print(df)
print(type(df))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

In [7]:
df =pd.DataFrame([1, 2, 3])

print(df.shape)
print(df.size)
print(s.dtype)

(3, 1)
3
int64

In [14]:
#Pandas Dataframe的定義與屬性 _0629

#Series   __一維
s = pd.Series([1,2,3])
print(s)
s1 = pd.Series([1,2,3] , index=['Apple','Banana','Citrus'])
print("\n+index:\n",s1)

0    1
1    2
2    3
dtype: int64

+index:
 Apple     1
Banana    2
Citrus    3
dtype: int64

In [16]:
#DataFrame __二維

df = pd.DataFrame([1,2,3])
print(df)
df

   0
0  1
1  2
2  3

   0
0  1
1  2
2  3

In [17]:
df = pd.DataFrame([1,2,3] , index=['A','B','C'], columns=['NO.'])
df

   NO.
A    1
B    2
C    3

In [19]:
df1 = pd.DataFrame([1,2,3], [6,5,4]) #, [index]
print(df1)
df1 = pd.DataFrame([[1,2,3], [6,5,4]])
df1

   0
6  1
5  2
4  3

   0  1  2
0  1  2  3
1  6  5  4

In [21]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [24]:
#dictionary
df = pd.DataFrame({
    'Name':['Alice','Bill'],
    'Age': [20,50],
})
print(df)

df2 = pd.DataFrame([
    {'Name':'Alice','Age': 21},
    {'Name':'Bill','Age': 51}
])
print(df2)

    Name  Age
0  Alice   20
1   Bill   50
    Name  Age
0  Alice   21
1   Bill   51

In [39]:
# DataFrame 是由 Series 组成的
df = pd.DataFrame([[1,2,3],[6,5,4]], index=['I','II'], columns=['A','B','C'])
print(df)
print('Type:', type(df) , '\n')
print(df['B'])
print('Type:', type(df['B']))

    A  B  C
I   1  2  3
II  6  5  4
Type: <class 'pandas.core.frame.DataFrame'>

I     2
II    5
Name: B, dtype: int64
Type: <class 'pandas.core.series.Series'>

In [43]:
#DataFrame 常用屬性
DF = pd.DataFrame([[1,2,3],[6,5,4]], index=['I','II'], columns=['A','B','C'])
print('shape:', DF.shape)
print('size:', DF.size)
print('index:', DF.index)
print('columns:', DF.columns)
print('values:', DF.values)

shape: (2, 3)
size: 6
index: Index(['I', 'II'], dtype='object')
columns: Index(['A', 'B', 'C'], dtype='object')
values: [[1 2 3]
 [6 5 4]]

In [65]:
#查看資料
print('head:\n',DF.head())
print(DF.head(1))   #DataFrame.head(n=5) -->the first five rows are displayed. 
                    #               n=-2(<0)--> expect bottom 2rows 
print('tail:\n', DF.tail())
print(DF.tail(1))   #DataFrame.tail(n=5) -->the bottom five rows are displayed.

print('\ndescribe:\n', DF.describe())
print('---\n info:')
print(DF.info())

#Set specific value in pandas DataFrame ==> DataFrame.at[],DataFrame.iat[]

head:
     A  B  C
I   1  2  3
II  6  5  4
   A  B  C
I  1  2  3
tail:
     A  B  C
I   1  2  3
II  6  5  4
    A  B  C
II  6  5  4

describe:
               A        B         C
count  2.000000  2.00000  2.000000
mean   3.500000  3.50000  3.500000
std    3.535534  2.12132  0.707107
min    1.000000  2.00000  3.000000
25%    2.250000  2.75000  3.250000
50%    3.500000  3.50000  3.500000
75%    4.750000  4.25000  3.750000
max    6.000000  5.00000  4.000000
---
 info:
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, I to II
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes
None