In [1]:
#Pandas 物件的定義與屬性 _0616
import numpy as np
import pandas as pd

print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [3]:
# 從 Series 和 DataFrame 開始

s = pd.Series([1, 2, 3])
print(s)
print(type(s))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
s = pd.Series([1, 2, 3])
print(s.shape)
print(s.size)
print(s.dtype)
#Series 常用的屬性

(3,)
3
int64

In [4]:
df =pd.DataFrame([1, 2, 3])

print(df)
print(type(df))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

In [7]:
df =pd.DataFrame([1, 2, 3])

print(df.shape)
print(df.size)
print(s.dtype)

(3, 1)
3
int64

In [14]:
#Pandas Dataframe的定義與屬性 _0629

#Series   __一維
s = pd.Series([1,2,3])
print(s)
s1 = pd.Series([1,2,3] , index=['Apple','Banana','Citrus'])
print("\n+index:\n",s1)

0    1
1    2
2    3
dtype: int64

+index:
 Apple     1
Banana    2
Citrus    3
dtype: int64

In [16]:
#DataFrame __二維

df = pd.DataFrame([1,2,3])
print(df)
df

   0
0  1
1  2
2  3

   0
0  1
1  2
2  3

In [17]:
df = pd.DataFrame([1,2,3] , index=['A','B','C'], columns=['NO.'])
df

   NO.
A    1
B    2
C    3

In [19]:
df1 = pd.DataFrame([1,2,3], [6,5,4]) #, [index]
print(df1)
df1 = pd.DataFrame([[1,2,3], [6,5,4]])
df1

   0
6  1
5  2
4  3

   0  1  2
0  1  2  3
1  6  5  4

In [21]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [24]:
#dictionary
df = pd.DataFrame({
    'Name':['Alice','Bill'],
    'Age': [20,50],
})
print(df)

df2 = pd.DataFrame([
    {'Name':'Alice','Age': 21},
    {'Name':'Bill','Age': 51}
])
print(df2)

    Name  Age
0  Alice   20
1   Bill   50
    Name  Age
0  Alice   21
1   Bill   51

In [39]:
# DataFrame 是由 Series 组成的
df = pd.DataFrame([[1,2,3],[6,5,4]], index=['I','II'], columns=['A','B','C'])
print(df)
print('Type:', type(df) , '\n')
print(df['B'])
print('Type:', type(df['B']))

    A  B  C
I   1  2  3
II  6  5  4
Type: <class 'pandas.core.frame.DataFrame'>

I     2
II    5
Name: B, dtype: int64
Type: <class 'pandas.core.series.Series'>

In [43]:
#DataFrame 常用屬性
DF = pd.DataFrame([[1,2,3],[6,5,4]], index=['I','II'], columns=['A','B','C'])
print('shape:', DF.shape)
print('size:', DF.size)
print('index:', DF.index)
print('columns:', DF.columns)
print('values:', DF.values)

shape: (2, 3)
size: 6
index: Index(['I', 'II'], dtype='object')
columns: Index(['A', 'B', 'C'], dtype='object')
values: [[1 2 3]
 [6 5 4]]

In [65]:
#查看資料
print('head:\n',DF.head())
print(DF.head(1))   #DataFrame.head(n=5) -->the first five rows are displayed. 
                    #               n=-2(<0)--> expect bottom 2rows 
print('tail:\n', DF.tail())
print(DF.tail(1))   #DataFrame.tail(n=5) -->the bottom five rows are displayed.

print('\ndescribe:\n', DF.describe())
print('---\n info:')
print(DF.info())

#Set specific value in pandas DataFrame ==> DataFrame.at[],DataFrame.iat[]

head:
     A  B  C
I   1  2  3
II  6  5  4
   A  B  C
I  1  2  3
tail:
     A  B  C
I   1  2  3
II  6  5  4
    A  B  C
II  6  5  4

describe:
               A        B         C
count  2.000000  2.00000  2.000000
mean   3.500000  3.50000  3.500000
std    3.535534  2.12132  0.707107
min    1.000000  2.00000  3.000000
25%    2.250000  2.75000  3.250000
50%    3.500000  3.50000  3.500000
75%    4.750000  4.25000  3.750000
max    6.000000  5.00000  4.000000
---
 info:
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, I to II
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes
None

In [32]:
df = pd.DataFrame([[1,2,3],[6,5,4]], index=['I','II'], columns=['A','B','C'])
df
print (df.add(2))
print(df.sub([3,4,2], axis=1))
#df* 2
print(df.mul(2))
#df / 4
print(df.div(4))
print(df.mod(2))
#...df.mod-->% ;df.pow-->** ; 
#df.min ; df.max ; df.idxmin; df.idxmax ; df.sum ; df.mean
#df.var ; df.std ; df.quantile (百分位數)

    A  B  C
I   3  4  5
II  8  7  6
    A  B  C
I  -2 -2  1
II  3  1  2
     A   B  C
I    2   4  6
II  12  10  8
       A     B     C
I   0.25  0.50  0.75
II  1.50  1.25  1.00

    A  B  C
I   1  2  0
II  0  2  1

In [20]:
#從 DataFrame 選取資料_0708
# 正確使用欄位名稱與索引選取資料
# 正確使用 location 座標選取資料
# 正確使用 遮罩操作 選取資料

import pandas as pd

In [90]:
df = pd.DataFrame([[1,2,3,8],[7,6,5,4]], index=['I','II'], columns=['A','B','C','D'])
#    A  B  C  D
#I   1  2  3  8
#II  7  6  5  4

print(df['B'], '\n')  # 利用欄位名稱選取單行 資料
print(df[['B','D']])  # 利用欄位名稱選取多行 資料

print('\n', '列索引')  # 利用 列索引 位置選取 單列/多列 資料
print(df[0:1])
print(df[0:2])

I     2
II    6
Name: B, dtype: int64

    B  D
I   2  8
II  6  4

 列索引
   A  B  C  D
I  1  2  3  8
    A  B  C  D
I   1  2  3  8
II  7  6  5  4

In [81]:
df = pd.DataFrame([[1,2,3,8],[7,6,5,4]], index=['I','II'], columns=['A','B','C','D'])
#    A  B  C  D
#I   1  2  3  8
#II  7  6  5  4

# 用 loc, iloc, ix 取得行與列
# ix is deprecated.  ((略
print('loc :')
print(df.loc['I'])     #df.loc['index','columns']
print('I 裡B:', df.loc['I','B']) # df.loc[['I','B']]--> X
print('---\n', df.loc[['I','II'],'C'])
print('---\n', df.loc['I':'II','B':'D'])

loc :
A    1
B    2
C    3
D    8
Name: I, dtype: int64
I 裡B: 2
---
 I     3
II    5
Name: C, dtype: int64
---
     B  C  D
I   2  3  8
II  6  5  4

In [88]:
df = pd.DataFrame([[1,2,3,8],[7,6,5,4]], index=['I','II'], columns=['A','B','C','D'])

print('iloc :')
print(df.iloc[1,1])
print(df.iloc[0, [1,3]])
print(df.iloc[[0,1], 2])
print(df.iloc[[0,1],[2,3]])
print('-----')
print(df.iloc[0], '\n V.S.\n' , df.iloc[[0]])

iloc :
6
B    2
D    8
Name: I, dtype: int64
I     3
II    5
Name: C, dtype: int64
    C  D
I   3  8
II  5  4
-----
A    1
B    2
C    3
D    8
Name: I, dtype: int64
 V.S.
    A  B  C  D
I  1  2  3  8

In [60]:
# 用 iat, at 取得資料 ((只是想選出「數值」))
#at :Similar to loc, in that both provide label-based lookups. Use at if you only need to get or set a single value in a DataFrame or Series.
#iat:Similar to iloc, in that both provide integer-based lookups. Use iat if you only need to get or set a single value in a DataFrame or Series.
df = pd.DataFrame([[1,2,3,8],[7,6,5,4]], index=['I','II'], columns=['A','B','C','D'])

print(df.at['II','C'])
print(df.loc['II'].at['C']) # Get value within a Series
print(df.iat[0,2])

5
5
3

In [76]:
# 根據條件篩選資料（遮罩）
df = pd.DataFrame([[1,5,3],[6,2,4]], index=['I','II'], columns=['A','B','C'])
print(df)
print(df>3)
print(df[df>2])

print('-------')
print(df['B']>3)
print(df[df['B']>3])

    A  B  C
I   1  5  3
II  6  2  4
        A      B      C
I   False   True  False
II   True  False   True
      A    B  C
I   NaN  5.0  3
II  6.0  NaN  4
-------
I      True
II    False
Name: B, dtype: bool
   A  B  C
I  1  5  3