In [6]:
import numpy as np
import pandas as pd

print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\USER\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [7]:
#stack , unstack
#set the index name for Dataframe
multicol1 = pd.MultiIndex.from_tuples([("weight", "kg"),
                                       ("weight", "pounds")])
#create EX. dataframe
df_multi_level_cols1 = pd.DataFrame([[1,2],[2,4]],
                                    index= ['cat', 'dog'],
                                   columns=multicol1)
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

In [15]:
#.stack(level=- 1, dropna=True) :
#//Stack the prescribed level(s) from columns to index
'''
參數 : 
level : 放整數、字串、串列 (默認為 -1(最後一欄))，決定哪一欄位轉為索引。
dropna : 放布林值 (默認為 True)，決定是否要把全為遺失值的列拿掉。

欄位轉索引：將一欄位(column)轉成一索引(index)，使用 df.stack() 即可。

!!注意 .stack() 會由最外層的欄位開始轉換。The new inner-most levels are created by pivoting the columns of the current dataframe.
'''
print(df_multi_level_cols1.stack())
df_multi_level_cols1.index,'\n', df_multi_level_cols1.stack().index

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

(Index(['cat', 'dog'], dtype='object'),
 '\n',
 MultiIndex([('cat',     'kg'),
             ('cat', 'pounds'),
             ('dog',     'kg'),
             ('dog', 'pounds')],
            ))

In [28]:
print(df_multi_level_cols1.stack().unstack(), "\n")
print(df_multi_level_cols1.stack().unstack().unstack(),"\n")  #type :Series
print(df_multi_level_cols1.stack().unstack().unstack().unstack())
df_multi_level_cols1.stack().unstack().unstack().unstack().unstack()

#df_multi_level_cols1.stack().stack()  => type:Series
#df_multi_level_cols1.stack().stack().stack() => Error
'''
df.stack() : 當欄位沒東西時，會報錯。
df.unstack() : 當索引都被移到欄位時，會把所有欄位變為索引。
'''

    weight
        kg pounds
cat      1      2
dog      2      4

weight  kg      cat    1
                dog    2
        pounds  cat    2
                dog    4
dtype: int64

               cat  dog
weight kg        1    2
       pounds    2    4

       cat        dog
        kg pounds  kg pounds
weight   1      2   2      4

In [36]:
#欄位名稱轉為欄位值
#.melt(id_vars=None, value_vars=None ...)
#//Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
'''
id_vars：不需要被轉換的列名
value_vars：需要轉換的列名，如果剩下的列全部都要轉換，就不用寫了。
'''

import pandas as pd 

df = pd.DataFrame({'Name':{0:'Jiao', 1:'John', 2:'Shiela'}, 
                   'course':{0:'python', 1:'ML', 2:'DM'}, 
                   'Age':{0:22, 1:15, 2:50}})
print(df, "\n")
print(df.melt(),"\n")
print(df.melt("Name"))
df.melt(value_vars='Age')

     Name  course  Age
0    Jiao  python   22
1    John      ML   15
2  Shiela      DM   50

  variable   value
0     Name    Jiao
1     Name    John
2     Name  Shiela
3   course  python
4   course      ML
5   course      DM
6      Age      22
7      Age      15
8      Age      50

     Name variable   value
0    Jiao   course  python
1    John   course      ML
2  Shiela   course      DM
3    Jiao      Age      22
4    John      Age      15
5  Shiela      Age      50

  variable  value
0      Age     22
1      Age     15
2      Age     50

In [37]:
'''
.DataFrame.pivot : Return reshaped DataFrame organized by given index / column values.
.pivot_table : Create a spreadsheet-style pivot table as a DataFrame. **
'''
#重新組織資料
df = pd.DataFrame({'fff': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bbb': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'baa': [2, 3, 4, 5, 6, 7],
                   'zzz': ['h', 'i', 'j', 'k', 'l', 'm']})

df

   fff bbb  baa zzz
0  one   P    2   h
1  one   Q    3   i
2  one   R    4   j
3  two   P    5   k
4  two   Q    6   l
5  two   R    7   m

In [44]:
print(df.pivot(index='fff', columns='bbb'),"\n")
print(df.pivot(index='fff', columns='bbb')['baa'])
print(df.pivot(index='fff', columns='bbb',values='baa'))
df.pivot(index='fff', columns='bbb',values=['baa','zzz'])

    baa       zzz
bbb   P  Q  R   P  Q  R
fff
one   2  3  4   h  i  j
two   5  6  7   k  l  m

bbb  P  Q  R
fff
one  2  3  4
two  5  6  7
bbb  P  Q  R
fff
one  2  3  4
two  5  6  7

    baa       zzz
bbb   P  Q  R   P  Q  R
fff
one   2  3  4   h  i  j
two   5  6  7   k  l  m