# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [16]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [17]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [56]:
#計算每個不同種類 animal 的 age 的平均數
#df.groupby('animal').mean()

animal_df = df.groupby('animal')
print("1. \n" ,animal_df['age'].mean() )

#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
print("2. \n",df.sort_values(by=['age', 'visits'], ascending=[True, False]))
print("\n")
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"] = df["priority"].str.contains("yes")
print(df)

#Series.str.contains()  -->Test if pattern or regex is contained within a string of a Series or Index.

1.
 animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
2.
   animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [59]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.630671  0.905344  0.129674
1  0.244742  0.773912  0.175730
2  0.876202  0.370679  0.745357
3  0.150179  0.009799  0.808655
4  0.046976  0.232161  0.469199

In [66]:
print('1) 將每個數字減去該欄位的平均數:')
print(df-df.mean())

1) 將每個數字減去該欄位的平均數:
          0         1         2
0  0.240917  0.446965 -0.336049
1 -0.145012  0.315533 -0.289993
2  0.486448 -0.087700  0.279634
3 -0.239575 -0.448580  0.342932
4 -0.342778 -0.226218  0.003476

In [74]:
print('2) 將每個數字減去該筆資料平均數: \n')  #一列是一筆資料
print(df.sub(df.mean(axis=1), axis=0))

2) 將每個數字減去該筆資料平均數:

0    0.555230
1    0.398128
2    0.664080
3    0.322878
4    0.249445
dtype: float64

          0         1         2
0  0.075441  0.350114 -0.425555
1 -0.153386  0.375784 -0.222398
2  0.212123 -0.293400  0.081277
3 -0.172698 -0.313079  0.485777
4 -0.202469 -0.017284  0.219754

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [79]:
df

          0         1         2
0  0.630671  0.905344  0.129674
1  0.244742  0.773912  0.175730
2  0.876202  0.370679  0.745357
3  0.150179  0.009799  0.808655
4  0.046976  0.232161  0.469199

In [85]:
print(df.sum(axis=1))
df.sum(axis=1).idxmin()

0    1.665689
1    1.194385
2    1.992239
3    0.968633
4    0.748335
dtype: float64

4

In [86]:
print(df.sum())
df.sum().idxmin()

0    1.948770
1    2.291895
2    2.328615
dtype: float64

0